.subhero
    background-image: linear-gradient(
        rgba(7, 20, 39, 0.8), 
        rgba(7, 20, 39, 0.8)
    ), url("../../assets/subhero.png")
    background-size: cover
    background-position: center

    &__title
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        color: #FFFFFF
        font-size: 4rem