.highlighted-homes
    background-color: #F8F8FB
    padding: 8rem 0 6rem

    .container
        max-width: 1200px
        margin: 0 auto

    h2
        font-size: 2.5rem
        margin-bottom: 2rem
        color: #263048
        text-align: center
    p
        width: 60%
        margin: 0 auto 1.5rem
        font-size: 1.2rem
        line-height: 1.4
        color: #333333
        text-align: center

    &__homes
        margin: 4rem 0

    a
        display: block
        margin: 0 auto
        width: fit-content
        background-color: #162A41
        color: #ffffff
        padding: 1rem 2.5rem
        text-decoration: none
        font-size: 1.2rem