*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif


.house-page
    
    &__homes
        max-width: 1200px
        margin: 4rem auto
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 2rem