$primary-bg-color: #FFFFFF
$secondary-bg-color: #F8F8FB
$tertiary-bg-color: #162A41
    
$primary-title-color: #263048
$secondary-title-color: #2A2C30
$tertiary-title-color: #162A41

$primary-icon-color: #162A41
$primary-icon-bg-color: #EEF7FF
$secondary-icon-color: #FFFFFF
$secondary-icon-bg-color: #162A41
    
$primary-text-color: #333333
$secondary-text-color: #7B7B7B

$box-shadow: 0px 0px 16px 2px #D3DEE8