@use "../../style/variables.sass" as var;
    
.home
    background-color: #FFFFFF
    color: var.$primary-text-color
    border-radius: 4px
    box-shadow: var.$box-shadow
    position: relative

    &__bookmark-button
        position: absolute
        top: 1rem
        right: 1rem
        width: 35px
        height: 35px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        border: none
        transition: background-color 0.3s ease, color 0.3s ease
        cursor: pointer
        background-color: var.$secondary-icon-color
        .heart
            stroke: var.$primary-icon-color
            stroke-width: 50px
            font-size: 1.5rem
            
    &__bookmark-button--not-added
        .heart
            fill: var.$secondary-icon-color

    &__bookmark-button--not-added:hover
        // background-color: grey
        // opacity: .8

    &__bookmark-button--added
        .heart
            fill: var.$secondary-icon-bg-color
            

    img
        width: 100%
        height: 250px
        object-fit: cover
        object-position: 50% 60%

    &__info
        padding: 1.5rem

    &__header
        text-decoration: none
        display: flex
        align-items: center
        gap: 0.5rem
        font-size: 1.4rem
        color: var.$secondary-title-color

    &__type
        font-size: 1.1rem
        span
            font-size: 1.4rem
            font-weight: bold

    &__city
        padding: 1rem 0
        font-size: 1.1rem

    &__details
        border-top: 1px solid #D3DEE8
        display: grid
        grid-template-columns: auto auto 1fr
        align-items: center
        gap: 2rem
        padding: 1rem 0 0
        margin: 1rem 0 0
        
        h3
            font-size: 1.2rem
            color: var.$secondary-title-color
        
        .details-energylabel
            display: flex
            align-items: center
            justify-content: center
            height: 35px
            font-size: 1.4rem
            aspect-ratio: 1
            color: #FFFFFF
        .a-label
            background-color: green
        .b-label
            background-color: yellow
        .c-label
            background-color: orange
        .d-label
            background-color: red
        
        .details-price
            text-align: right
            font-size: 1.4rem
            font-weight: bold

    &__size
        display: flex
        align-items: center
        gap: 0.5rem