@use "../../style/variables.sass" as var
    
    
.sort
    max-width: 1124px
    margin: 4rem auto 0

    // MARK: Title
    h2
        font-size: 1.25rem
        color: var.$secondary-title-color
        padding-bottom: 6px
        position: relative
        margin: 0 0 1rem
    h2:before
        content: ""
        position: absolute
        width: 50px
        bottom: 0
        left: 0
        border-bottom: 3px solid var.$tertiary-title-color

    // MARK: Options
    &__options
        display: flex
        align-items: center
        gap: 1.5rem

    // MARK: Label
    label
        display: block
        font-size: 1rem
        color: var.$primary-text-color
        margin: 0 0 .5rem

    // MARK: Property
    &__type
        // display: flex
        // flex-direction: column
        width: 35%
        #sort
            width: 100%
            padding: 0.8rem .5rem
            border: 1px solid var.$border-color
            background-color: transparent
            font-size: 1rem
            color: var.$secondary-text-color

    // MARK: Price
    &__price
        // display: flex
        // flex-direction: column
        width: 50%
        input
            width: 100%
            // padding: 0.5rem 1rem
            border: 1px solid var.$border-color
            background-color: transparent
            font-size: 1rem
            color: var.$secondary-text-color
        .price-range
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: 0.5rem
            color: var.$secondary-text-color
            .price-value
                font-weight: bold
                color: var.$primary-text-color